@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'main';
  src: url('../fonts/Al-Jazeera-Arabic-Regular\ \(1\).ttf');
}

:root {
  --primary: #ca9f44;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #091e3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl !important;
  font-family: 'main' !important;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

/*!================================= Navbar start */
.navbar {
  background-color: #372500db;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
  color: #ffffff;
}

.navbar-dark .navbar-toggler {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
      position: relative;
      background: #ffffff;
  }

  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
      padding: 10px 0;
      color: white;
  }

  .navbar-dark .navbar-brand h1 {
      color: var(--primary);
  }

  .navbar {
      background-color: #000;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
      /* position: absolute; */
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(256, 256, 256, 0.1);
      z-index: 999;
  }

  .sticky-top.navbar-dark {
      position: fixed;
      background: #372500db;
      margin-top: 0px !important;
      z-index: 99999999999999;

  }

  .navbar-dark .navbar-nav .nav-link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      bottom: -1px;
      left: 50%;
      background: var(--primary);
      transition: 0.5s;
  }

  .navbar-dark .navbar-nav .nav-link:hover::before,
  .navbar-dark .navbar-nav .nav-link.active::before {
      width: 100%;
      left: 0;
  }

  .navbar-dark .navbar-nav .nav-link.nav-contact::before {
      display: none;
  }

  .sticky-top.navbar-dark .navbar-brand h1 {
      color: var(--primary);
  }
}


.mainSearch {
  background-color: #fff;
  border-radius: 30px;
  /* background-color: #ca9f44; */


}

.whenButton {
  font-size: 13px;
  background: #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* border-color: #fff; */
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 30px;
  cursor: pointer;
  height: 50px !important;
  border-left: 1px solid #a2a2a286;
}

.whenButton:hover {
  cursor: pointer;

}

.whenButton:focus {
  outline: none;
}

.where {
  background: #fff;
  border-radius: 30px;
  height: 50px !important;
  /* border-color: #fff; */
  border-right: 0px;
  border-top: 0px;

  border-radius: 30px;
  border-bottom: 0px;
  border-left: 1px solid #a2a2a286;
}

.where:focus {
  /* border: none; */
  outline: none;
}

.where.active {
  border: 0px;

}

.searchButton {
  display: flex;
  align-items: center;
  border-radius: 30px;
  height: 40px !important;
  width: 40px !important;
  border: 0px;
  background: #fbc634
      /* background: linear-gradient(to right, #ca9f44, rgba(255, 208, 114, 0.618), rgba(255, 250, 241, 0.282)); */
}


nav {
  margin-top: 20px !important;
  position: relative;
}

.sticky nav {
  margin-top: 10px !important;
}

.sticky #logo {
  margin-top: 0;
  margin-bottom: 10px;
}

ul#top_tools {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 15px;
  top: 28%;
  z-index: 999;
}

ul#top_tools a {
  color: #fff;
}

ul#top_tools a:hover {
  color: #ca9f44;
}

.sticky ul#top_tools a {
  color: #333;
}

ul#top_tools li {
  display: inline-block;
  padding: 0 10px;
}

ul#top_tools li i {
  font-size: 18px;
  font-weight: normal;
}



ul#top_tools2 {
  list-style: none;
  padding: 0;
  /* position: absolute; */
  /* left: 15px; */
  /* top: 28%; */
  /* z-index: 999; */
}

ul#top_tools2 a {
  color: #fff;
}

ul#top_tools2 a:hover {
  color: #ca9f44;
}

.sticky ul#top_tools2 a {
  color: #333;
}

ul#top_tools2 a :hover {
  /* background-color:#fff ; */
  cursor: pointer;
}

ul#top_tools2 a :active {
  /* background-color:#fff ; */
  color: #fbc634;
  cursor: pointer;


}

ul#top_tools2 li {
  display: inline-block;
  padding: 0 10px;
}

ul#top_tools2 li :hover {
  /* background-color:#fff ; */
  cursor: pointer;
}

ul#top_tools2 li :active {
  /* background-color:#fff ; */
  color: #fbc634;
  cursor: pointer;


}

ul#top_tools2 li i:active {
  /* background-color:#fff ; */
  color: #fbc634;
  cursor: pointer;


}

s ul#top_tools2 li i {
  font-size: 18px;
  font-weight: normal;
}

.navbar-first {
  background-color: #01040c;
}

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}


.navbar-nav .nav-link.active {
  color: var(--primary-color);
  background: #fff;

}

.navbar-nav .nav-link.active::after {
  width: 100%;

}

.nav-link:hover {
  color: var(--primary-color);
  background: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.navbar-nav {
  align-items: center;
}

.profileDropDown {
  background-color: #fff !important;
  display: flex;
  height: fit-content;
  color: #000 !important;
  align-items: center;
  gap: 10px;
  border-radius: 50px !important;

}

.profileBtn {
  display: flex;
  align-items: center;
  border-radius: 30px;
  height: 30px !important;
  width: 30px !important;
  border: 0px;
  background: #fbc634
      /* background: linear-gradient(to right, #ca9f44, rgba(255, 208, 114, 0.618), rgba(255, 250, 241, 0.282)); */
}

@media screen and (max-width: 1170px) and (min-width: 992px) {
  .nav-link {
      font-size: 9px;
  }
}

@media(max-width:767px) {
  #searchGroup {
      margin-right: 10px !important;
      margin-left: 10px !important;
  }

  ul#top_tools2 a {
      color: #fff !important;
      justify-content: end !important;
  }

  ul#top_tools2 li {
      color: #fff !important;
      justify-content: end !important;
      width: 70px;

  }

  ul#top_tools2 li i {
      color: #fff !important;

  }

  .fav,
  .basket,
  .personal {
      display: none;
  }

  .smallNav {
      height: 0px;
      overflow: hidden;
  }

  #navbarCollapse {
      height: 0px;
  }

  #searchGroup {
      width: 90% !important;
  }
}

.logo1 {
  width: 80px !important;
  height: 80px !important;
  margin: 5px;
}

.sidebtn {
  background-color: transparent !important;
  border: 0px;
}

/*!================================= Navbar End */
/**=================================SideBar start */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000000000 !important;
  top: 0;
  /* left: 0; */
  background-color: #111;
  overflow-x: hidden;
  transition: .8s;
  padding-top: 60px;
}

#sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidebar a:hover {
  color: #f1f1f1;
}

#sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  height: 50px;
  font-size: 36px;
  margin-left: 50px;
}

#primary-content {
  transition: margin-left 0.5s;
  padding: 0px;
}





.primaryCategory {
  color: #fff !important;
}

@media(max-width:767px) {
  #sidebar {
      height: fit-content !important;
      /* margin-top: 100px !important; */
      padding-top: 10px;
      background: #000 !important;
      padding-top: 50px;
  }

}


.primaryCategory {
  color: #fff !important;
}

/**=================================SideBar End */

.formbold-main-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 48px;
}

@media(max-width:767px) {
  .formbold-main-wrapper {
    padding: 0px !important;
    padding-top: 20px !important;
  }
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  background: white;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.formbold-steps {
  padding-bottom: 18px;
  margin-bottom: 35px;
  border-bottom: 1px solid #DDE3EC;
}

.formbold-steps ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.formbold-steps li {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}

.formbold-steps li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DDE3EC;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}

.formbold-steps li.active {
  color: #07074D;
  ;
}

.formbold-steps li.active span {
  background: var(--primary);
  color: #FFFFFF;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}

.formbold-input-flex>div {
  width: 50%;
}

.formbold-form-input {
  width: 100%;
  height: 50px;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #DDE3EC;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.formbold-form-input:focus {
  border-color: var(--primary);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.promo {
  width: 100%;
  height: 50px;
  padding: 13px 22px;
  /* border-radius: 5px; */
  border: 1px solid #DDE3EC;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.promo:focus {
  border-color: var(--primary);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-form-label {
  color: #07074D;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-form-confirm {
  border-bottom: 1px solid #DDE3EC;
  padding-bottom: 35px;
}

.formbold-form-confirm p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  margin-bottom: 22px;
  width: 75%;
}

.formbold-form-confirm>div {
  display: flex;
  gap: 15px;
}

.formbold-confirm-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  border: 0.5px solid #DDE3EC;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  cursor: pointer;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
}

.formbold-confirm-btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.formbold-confirm-btn.active {
  background: var(--primary);
  color: #FFFFFF;
}

.formbold-form-step-1,
.formbold-form-step-2,
.formbold-form-step-3 {
  display: none;
}

.formbold-form-step-1.active,
.formbold-form-step-2.active,
.formbold-form-step-3.active {
  display: block;
}

@media(max-width:767px) {
  .packagePicInsideForm {
    width: 200px;
  }
  .packageDetailsInsideForm
  {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
  }
}

.formbold-form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 25px;
}

.formbold-back-btn {
  cursor: pointer;
  background: #FFFFFF;
  border: none;
  color: #07074D;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: none;
}

.formbold-back-btn.active {
  display: block;
}

.formbold-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  background-color: var(--primary);
  color: white;
  align-items: center;
  cursor: pointer;
}

.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.policies {
  font-size: 13px !important;
  margin-bottom: 0px !important;
}

.paymentMeth {
  border: 0.5px solid #c9cfde;
  border-radius: 15px;
}

.secondCol {
  height: fit-content;
  top: 1%;

}

.detailsCard {
  border: 0.5px solid #c9cfde;
  border-radius: 15px;
  top: 10%;
  border: 1px solid var(--primary);
  padding: 10px !important;
}

.Redeem {
  background-color: var(--primary);
  color: #eef9ff;
  border-radius: 15px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 0px !important;
}

.input-group {
  flex-wrap: nowrap;
}

@media(max-width:767px) {
  .formbold-steps li {
    flex-direction: column;
  }

  .formbold-steps ul {
    gap: 20px;
  }
}


.data div {
  height: 20px;
  font-size: 13px;

}
@media(max-width:767px)
{
  .data div
  {
  width: 227px;
    
  }
}